.filter {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    color: #007f7f;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    border-right: 1px solid black;
}

.filter:hover {
    text-decoration: none;
    color: #004040;
}

.menu-btn{
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    color: #939393;
    font-size: 13px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.menu-btn:hover {
    text-decoration: none;
    color: #007f7f;
}

.locale-btn {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #939393;
    font-size: 20px;
    text-decoration: none;
    border-right: 1px solid #939393;
    border-left: 1px solid #939393;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;

}

.locale-btn:hover {
    color: #45a857;
    text-decoration: none;
    border-right: 1px solid #45a857;
    border-left: 1px solid #45a857;
}

.control-button{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #8fc0a9;
    border: none;
    cursor: pointer;
    transition: background-color 300ms;

    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;

    margin-top: 30px;
}

.control-button:hover{

    background-color: rgba(0, 212, 173, 1.0);
}

.control-button:focus{

    outline: none;
}

.pagination-btn{
    cursor:pointer;
    border: none;
    background-color: #007f7f;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
}
.pagination-btn:hover{

    background-color: #004040;;
}

.pagination-btn:focus{

    outline: none;
}