body
{
	margin: 0px;
}

::-webkit-scrollbar
{
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track
{
	background-color: rgba(175, 171, 174, 0.43);
	-webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:vertical
{
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover
{
	background-color: rgba(97, 97, 93, 0.86);
}
::-webkit-scrollbar-thumb:horizontal
{
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 0px;
}

