#form-wrap{
	width: 400px;
	height: 300px;
	margin: 150px auto;

	padding-top: 10px;
}


#picture-div{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../img/img1.jpg) no-repeat center center; 
	background-size: cover;
}

#logo-wrap{
	margin-top: 15px;
	margin-left: 30px;
	left: 50px;
	width: 15%;
	min-width: 270px;
	text-align: center;
}

	#logo-wrap img{
		width: 100%;
		height: auto;
	}


#header{
	height: 8%;
	min-height: 70px;
	width: 100%;
	top: 0;
	position: fixed;

	background-color:  #68b0ab; 
}

#login-form{
	text-align: center;
}

#form-title{
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 300;
	font-size: 16pt;
	margin: 0;
}

.form-input{
	padding-left: 20px;
	display: block;
	margin: 25px auto;
	width: 380px;
	height: 50px;
	line-height: 50px;
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 13pt;
	border: none;
	border-bottom: 1px solid rgba(38, 68, 95, 0.64);
	background: none;
}

.form-input:focus{
	outline: none;
}

	.form-input::-webkit-input-placeholder {
	    color: rgba(244,244,244,0.8588235294117647);
	    margin-left: 20px; 
	}
	.form-input::-moz-placeholder {
	    /* FF 4-18 */
	    color: rgba(244,244,244,0.8588235294117647);
	    margin-left: 20px; 
	}
	.form-input::-moz-placeholder {
	    /* FF 19+ */
	    color: rgba(244,244,244,0.8588235294117647);
	    margin-left: 20px; 
	}
	.form-input::-ms-input-placeholder {
	    /* IE 10+ */
	    color: rgba(244,244,244,0.8588235294117647);
	    margin-left: 20px; 
	}


.submit-btn{
	border: none;
	border-radius: 0;
	background-color:  #8fc0a9;
	width: 380px;
	height: 50px;
	margin-top: 15px; 
	font-size: 14pt;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.71);
	transition: background-color 400ms, color 400ms;
}

	.submit-btn:hover{
		background-color:  rgba(0, 212, 173, 0.85);
		color: rgba(255, 255, 255, 0.95);
		cursor: pointer;
	}

	.submit-btn:focus{
		outline: none;
	}

#message{
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: brown;
}