html {
  height: 100%;
  box-sizing: border-box;
}

body{
  margin: 0px;
  min-height: 100%;
  width: 100%;
  position: absolute;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  height: 80px;
  background-color:#68b0ab;
  color: rgba(241, 252, 248, 1.0);
}

.control-button{

  width: 100px;
  height: 40px;

  background-color: #8fc0a9;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;

  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;

  margin-top: 30px;
}

.control-button:hover{

  background-color: rgba(0, 212, 173, 1.0);
}

.control-button:focus{

  outline: none;
}

.spacer1{
  height: 150px;
}


#logo-wrap{
  margin-top: 15px;
  margin-left: 30px;
  left: 50px;
  width: 15%;
  min-width: 270px;
  text-align: center;
}

  #logo-wrap img{
    width: 100%;
    height: auto;
  }


#header{
  height: 8%;
  min-height: 70px;
  width: 100%;
  top: 0;
  position: fixed;

  background-color:  rgba(168, 168, 168, 0.7); 
}

.wrap-table{
  margin: 7% auto 0;
  height: 90%;
  width: 500px;
}

.tg  {
  border-spacing:0; 
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

.tg td{
  
  font-size:16px;
  padding:5px 5px;
  border-style:none;
  border-width:1px;
  word-break:normal;
  text-align: center;
}

/*---------------------*/

#add-user-form, #lock-user-form, #unlock-user-form{
    line-height: 2.6;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

#wrap-form{

  margin: 120px auto;
  width:90%;
  line-height: 2.6;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

#wrap-form p{

  text-align: center;
}

#wrap-form h4{

  margin-top: 10px;
}

input{
  height: 35px;
  width: 250px;
  margin-left: 15px;
}


