.myTable {
	margin:0px auto;padding:0px;
	width:80%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.myTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	table-layout: fixed;
}.myTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.myTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.myTable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.myTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.myTable tr:hover td{
	background-color:#68b0ab;
		

}
.myTable td{
	vertical-align:middle;
	
	background-color:#e5e5e5;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.myTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.myTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.myTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.myTable tr:first-child td{
		background:-o-linear-gradient(bottom, #007f7f 5%, #007f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007f7f), color-stop(1, #007f7f) );
	background:-moz-linear-gradient( center top, #007f7f 5%, #007f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007f7f", endColorstr="#007f7f");	background: -o-linear-gradient(top,#007f7f,007f7f);

	background-color:#007f7f;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.myTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #007f7f 5%, #007f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007f7f), color-stop(1, #007f7f) );
	background:-moz-linear-gradient( center top, #007f7f 5%, #007f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007f7f", endColorstr="#007f7f");	background: -o-linear-gradient(top,#007f7f,007f7f);

	background-color:#007f7f;
}
.myTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.myTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}