.MyTable {
    margin: 40px auto;
    padding: 0px;
    width: 80%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #3f7f00;

}

.MyTable table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.MyTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.MyTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.MyTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.MyTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.MyTable tr:hover td {

}

.MyTable tr:nth-child(odd) {
    background-color: #d4ffaa;
}

.MyTable tr:nth-child(even) {
    background-color: #ffffff;
}

.MyTable td {
    vertical-align: middle;

    border: 1px solid #3f7f00;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: Verdana, monospace;
    font-weight: normal;
    color: #000000;
}

.MyTable tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.MyTable tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.MyTable tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.MyTable tr:first-child td {
    background: -o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00));
    background: -moz-linear-gradient(center top, #5fbf00 5%, #3f7f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");
    background: -o-linear-gradient(top, #5fbf00, 3 f7f00);

    background-color: #5fbf00;
    border: 0px solid #3f7f00;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
}

.MyTable tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00));
    background: -moz-linear-gradient(center top, #5fbf00 5%, #3f7f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");
    background: -o-linear-gradient(top, #5fbf00, 3 f7f00);

    background-color: #5fbf00;
}

.MyTable tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.MyTable tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}