html {
  height: 100%;
  box-sizing: border-box;
}

body{
  margin: 0px;
  min-height: 100%;
  width: 100%;
  position: absolute;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  height: 80px;
  background-color:#68b0ab;
  color: rgba(241, 252, 248, 1.0);
}

.control-button{

  width: 150px;
  height: 40px;

  background-color: #8fc0a9;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;

  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;

  margin-top: 30px;
}

.control-button:hover{

  background-color: rgba(0, 212, 173, 1.0);
}

.control-button:focus{

  outline: none;
}

.spacer1{
  height: 150px;
}


#logo-wrap{
  margin-top: 15px;
  margin-left: 30px;
  left: 50px;
  width: 15%;
  min-width: 270px;
  text-align: center;
}

  #logo-wrap img{
    width: 100%;
    height: auto;
  }


#header{
  height: 8%;
  min-height: 70px;
  width: 100%;
  top: 0;
  position: fixed;

  background-color:  rgba(168, 168, 168, 0.7); 
}


/*---------------------*/

#box{

  width: 60%;
  margin: 130px auto;
}

#box p{

  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  line-height: 2.0;
}

#box h3{

  color: rgba(74, 134, 129, 1.0);
}
